.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MY STYLES */
body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  text-color: white;
}
.nav-bar {
  justify-content: space-around;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  max-height: 70px;
  border-style: double;
  border-radius: 12 px,

}

.nav-item {
  padding: 25px;
  color: white; 
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-style: italic;
  align-content: space-between;
}

.disc-container {
  justify-content: space-evenly;
  padding: 20px;
}

.post {
  justify-content: space-evenly;
  font-size: smaller;
  border-style: double;
  border-radius: 15px;
}

.comment {
  border-style: double;
  border-radius: 15px;
}

.my-challenge {
  border-style: double;
  border-radius: 12px;
}

.post-user {
  border-style: double;
  border-radius: 12px;
}

.user-row {
  max-height: 100px;
}

img {
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.user-row-bio {
  align-items: left;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  width: 200px;
  height: 380px;
  padding: 1em;
  overflow-y: scroll;
  text-align: center;
}

.footer {
  max-height: 50 px;
}

.post-topic {
  color: red;
}


/* .myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
  color:#3a8a9e;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
} */